# Git Ignore compiled from https://github.com/github/gitignore

# OSX #
.DS_Store
.Spotlight-V100
.Trashes

# IntelliJ #
*.iml
*.ipr
*.iws
.idea/
.idea_modules/
atlassian-ide-plugin.xml

# sbt #
target/
lib_managed/
